@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --baby-blue: #d4f1f4;
  --blue-green: #75e6da;
  --blue-grotto: #189ab4;
  --navy-blue: #05445e;
  --dark-blue: #0a2336;
  --style-script: 'Style Script', cursive;
  --quicksand: 'Quicksand', sans-serif;
}

html {
  width: 100%;
  background-color: var(--baby-blue);
  color: var(--dark-blue);
  font-family: var(--quicksand);
}

body {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

.container {
  padding-bottom: 2.5rem;
}

h1,
h2 {
  text-align: center;
  font-family: var(--style-script);
}

button {
  border: 1px solid var(--navy-blue);
  border-radius: 5px;
  padding: 0.5em;
  background-color: white;
  font-family: var(--quicksand);
  font-weight: bold;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--navy-blue);
  padding: 0 1em;
}

h1 {
  font-size: 2em;
  margin: 0;
}

nav > a {
  text-decoration: none;
  color: var(--navy-blue);
}

nav > a:hover {
  color: var(--dark-blue);
  font-weight: bolder;
}

nav > a:nth-child(even) {
  border-right: 1px solid var(--navy-blue);
  border-left: 1px solid var(--navy-blue);
  padding: 0 5px;
}

#display-date {
  text-align: right;
  padding-right: 1em;
}

h2 {
  font-size: 3em;
}

section {
  width: 85%;
  margin: 0 auto;
}

#books {
  list-style: none;
  padding: 0;
  border: 1px solid var(--navy-blue);
}

#books > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

#books > li:nth-child(even) {
  background-color: var(--blue-green);
}

#books > li > button {
  padding: 0.5em 1em;
}

hr {
  width: 40%;
  color: var(--navy-blue);
  margin: 2em auto;
}

form {
  width: 30em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

form > input {
  width: 99%;
  border: 1px solid var(--navy-blue);
  border-radius: 5px;
  padding: 0.5em;
}

form > button {
  width: 10em;
  align-self: flex-end;
}

button:hover {
  background-color: var(--blue-grotto);
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  padding-left: 2em;
}

.hidden {
  display: none;
}

.h2-contact {
  margin-bottom: 0;
}
